{% extends 'base.html.twig' %}

{% block page %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
    {% set price = 12300 %}
    {% with %}
        {% set price = 1000 %}
        <p>金額: {{ price }}</p>
        {% set taxprice = price * 1.1 %}
        <p>税込み: {{ taxprice }}</p>
    {% endwith %}
     <p>金額: {{ price }}</p>
    {% set taxprice = price * 1.1 %}
    <p>税込み: {{ taxprice }}</p>
{% endblock %}
